:root {
    /* varaibles */
    --accent: #002FA7dd;
    --text: #000000dd;
    --background: #ffffff;
}

@font-face {
    font-family: Favorit;
    src: url('ABCFavorit-Regular-Trial.woff2');
}

@layer base {
    *,
    *::before,
    *::after {

        box-sizing: border-box;
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        color: var(--text);
        background: var(--background);
        font-size: 14pt;
        font-family: Favorit, Helvetica, Arial, sans-serif;
    }

    a:not(.bubble) {
        color: var(--accent);
    }

    .bubble {
        padding: 0 6px 0 6px;
    }
}

.highlight a {
    color: var(--text);
}

.logo {
    max-height: 25vh;
}

.content .item:not(:last-of-type) {
    box-shadow: 0 1px 0 #00000015;
}

a:hover {
    animation: tilt-shaking 300ms infinite;
}

/* ty https://unused-css.com/blog/css-shake-animation/ */
@keyframes tilt-shaking {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(5deg); }
  50% { transform: rotate(0eg); }
  75% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}