---
layout: 'base.njk'
---

<style>
.preview {
    transition: transform 0.4s ease;
    max-width: 50vw;
    object-fit: contain;
    z-index: -1;
}

.preview:hover {
    transform: scale(1.05) !important;
    z-index: 1;
}
</style>

<div class="flex-col highlight grow overflow-y-scroll rounded-lg mt-1">
    <!-- FIX: OVERFLOW-Y-VISIBLE NOT WORKING WIHT OVERFLOW-X -->
    <div class="w-parent max-h-[65vh] flex flex-row align-middle items-center overflow-x-scroll overflow-y-visible snap-end -gap-10">
            {% for image in images %}
                <img class="preview shrink-0 rounded-lg object-contain cursor-pointer" alt='{{ title }}' src='{{ image }}' data-index="{{ loop.index }}">
            {% endfor %}
    </div>
    
    <h1 class="text-8xl sm:text-9xl">{{ title }}</h1>
    <h2 class="text-5xl pl-1 sm:pl-2">{{ alt }}</h2>

    <div class="mx-2 sm:mx-3">{{ content | safe }}</div>
</div>

<script>
  document.querySelectorAll('.preview').forEach(img => {
    /*const x = Math.random() * 50;*/
    const y = Math.random() * 25;
    const angle = (Math.random() * 10) - 5;
    img.style.transform = `translate(0px, ${y}px) rotate(${angle}deg)`;
  });
</script>