/* Root */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: white;
    color: black;
}

a:not(.Spotlight ul a) {
    font-weight: 600;
    font-size: 1.15rem;
    color: black;
    text-decoration: solid underline #002FA7 4px;
    text-decoration-skip-ink: none;
    text-decoration-color: #002FA7;
    text-decoration-thickness: 4px;
    text-underline-offset: 2px;
    transition: text-decoration 300ms ease;
    z-index: 7;
}

a:hover:not(.Spotlight ul a) {
    text-decoration: solid underline #002FA7 20px;
    text-underline-offset: -14px;
    text-decoration-thickness: 20px;
    color: white;
    z-index: 7;
}

/* Layout */
.Container {
    display: grid;
    grid-template-areas: 
        "header header"
        "spotlight content";
    grid-template-columns: 50% 50%;
    grid-template-rows: auto 1fr;
    height: 100vh;
    overflow: visible;
    position: relative;
}

/* Header */
.Header {
    position: sticky;
    top: 0;
    grid-area: header;
    display: flex;
    gap: 1rem;
    padding: 1rem;
    font-size: 1rem;
    position: sticky;
    z-index: 5;
    overflow-y: visible;
}

/* Logo */
.Logo {
    display: block;
    position: relative;
    top: 1rem;
    right: 1rem;
    font-size: 6rem;
    z-index: 6;
    width: 28rem;
    height: 1px;
}

.Logo svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 2;
}

#logo-black .cls-3 {
  stroke: black;
  transition: stroke 0.3s ease;
}

#logo-white .cls-3 {
  stroke: white;
  transition: stroke 0.3s ease;
}

/* Spotlight */
.Spotlight {
    position: fixed;
    bottom: 0;
    align-self: end;
    grid-area: spotlight;
    display: flex;
    align-items: flex-end;
    padding: 1rem;
    height: 100%;
    overflow: visible;
    white-space: nowrap;
}

.Spotlight ul a {
    color: black;
    list-style: none;
    text-decoration: none;
}

.Spotlight li {
    font-size: 5.5vi;
    font-weight: bold;
    color: black;
    margin-bottom: -10px;
    z-index: 5;
}

.Spotlight li a:hover {
    mix-blend-mode: normal;
    color: #002FA7;
    cursor: pointer;
}

/* Content */
.Content {
    grid-area: content;
    display: flex;
    height: 100%;
    overflow: visible;
    flex-direction: column;
    gap: 5rem;
}

.Images {
    width: 100%;
    max-height: 50vh;
    overflow: visible;
    display: flex;
    flex-direction: row-reverse;
    gap: 0;
    align-items: center;
    padding-top: 1rem;
    padding-right: 1rem;
    cursor: pointer;
}

.Images img {
    transition: transform 0.4s ease;
    max-width: 20vw;
    object-fit: contain;
    flex-shrink: 0;
    scroll-snap-align: end;
    margin-left: -3vw;
}

.Images img:hover {
    transform: scale(1.05) !important;
    z-index: 1;
}

/* Footnotes */
.Description {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding-bottom: 20px;
    gap: 0.5rem;
}

.Description h1 {
    font-size: 2rem;
}

.Description p {
    font-size: 1.25rem;
}

.Description a {
    padding-top: 1rem;
}

/* Mobile */
@media (max-aspect-ratio: 3/4), (max-width: 775px) {
    .Header {
        z-index: 1;
    }

    .DvdWrapper {
        position: absolute;
        height: 450px;
        width: 130px;
    }

    .Logo {
        position: absolute;
        top: 0;
        left: 130px;
        /* position: fixed; */
        rotate: 90deg;
        transform-origin: left;
        /* top: 225px; 
        left: -89px; */
        z-index: 0;
        opacity: 0.25;

        /* CHANGE MABE */
        display: none;
    }

    #logo-white .cls-3 {
        display: none;
    }

    .Container {
        grid-template-areas: 
        "header header"
        "content";
    }

    .Spotlight {
        display: none;
    }

    .Content {
        gap: 1rem;
        width: 100vw;
        grid-column: 1;
    }

    .Images {
        overflow-x: auto;
        height: 35vh;
        scroll-snap-type: x proximity;
        -webkit-overflow-scrolling: touch;
        scrollbar-width: none;
        gap: 1rem;
    }
    
    .Images::-webkit-scrollbar {
        display: none;
    }

    .Images img {
        max-width: 25vh;
        scroll-snap-align: start;
    }

    .Description {
        padding-left: 5vw;
        padding-right: 5vw;
    }

    .Description p {
        font-size: 1.18rem;
    }
}