<div class="flex gap-1 z-1">
    <a href="/about">/about</a>
    <a id="photography" href="/placeholder">/photography</a>
    <a href="https://blog.scot.wtf">/blog</a>
    <div class="grow"></div>
    <button id="socials" class="bubble bg-lime-100 text-black rounded-full" href="#">@</button>
    <button id="downloadables" class="bubble bg-blue-100 text-(--accent) rounded-full"
        href="#">downloadables</button>
</div>