---
title: 'hello!'
layout: 'base.njk'
---

<div class="highlight grow overflow-y-scroll">
    <img alt="me" class="brightness-150 rounded-lg" style="width:15rem; height:auto;" src="/assets/about/me.JPG">
    <h1>haiii</h1>
    <p>im a creative who loves graphic design, photography, and all things digitial.</p>
    <p>if i could choose any job in the world it would probably be making album covers.</p>
    <p>16.</p>
    <br>
    <div class="flex flex-row">
        <a href="/index.html">SCOT.WTF</a>
    </div>
</div>