---
title: 'oopsies'
layout: 'base.njk'
---

<style>
    @import url('https://api.fonts.coollabs.io/css2?family=Meow+Script&display=swap');

    .cute {
        font-family: "Meow Script", cursive;
    }
</style>

<div class="highlight grow overflow-y-scroll">
    <img alt="meow" style="width:15rem; height:auto;" src="/assets/cat.webp">
    <h1>oopsies</h1>
    <p>hey so not everything has been added to the site yet lol. thanks for checking it out :3</p>
    <p>enjoy this cat. shot on cinestill at the seattle neko cat cafe.</p>
    <br>
    <div class="flex flex-row">
        <a href="/index.html">SCOT.WTF</a><p class="cute font-semibold">/Portfolio-Test</p>
    </div>
</div>